<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazy Loading</title>

    <script src="../scripts/lazyLoad.js" defer></script>
    <link rel="stylesheet" href="../styles/lazy.css">
</head>
<body>
    <h1>Lazy Loading</h1>

    <img src="../images/placeholder.jpg" data-src="../images/deer.png" alt="A deer">
    <img src="../images/placeholder.jpg" data-src="../images/giraffe.png" alt="A giraffe">
    <img src="../images/placeholder.jpg" data-src="../images/mouse.jpg" alt="A mouse">
    <img src="../images/placeholder.jpg" data-src="../images/tiger.jpg" alt="A tiger">
    <img src="../images/placeholder.jpg" data-src="../images/zebra.jpg" alt="A zebra">
</body>
</html>