html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: .83rem;
}
h6 {
    font-size: .67rem;
}

body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white-smoke);
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #004c9c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main{
    max-width: 90%;
    margin: 0 auto;
}

li {
    list-style-position: inside;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.homepage-main-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.style-none{
    list-style: none;
}
.img-text-size{
    height: 1rem;
}
.img-small-size{
    height: 10rem;
}
.img-medium-size{
    height: 20rem;
}
.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--raisin-black);
    padding: .5rem;
}
.nav-links a{
    color: var(--white-smoke);
}
.card{
    background-color: var(--white-smoke);
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid var(--raisin-black);
    margin: .5rem 0;
}
.card > :first-child{
    width: 100%;
    text-align: center;
    background-color: var(--raisin-black);
    padding: .5rem;
    color: var(--white-smoke);
}
.gold{
    background-color: var(--gold-metallic);
}
.dark{
    background-color: var(--raisin-black);
}
.rounded{
    border-radius: 0.5rem;
}
.text-center{
    text-align: center;
}
.mobile-hidden{
    display: none;
}
.mobile-show{
    display: block;
}
#hamburger{
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    right: .7rem;
}
#hamburger::before {
	content: "☰";
}

#hamburger.open::before {
	content: "×";
    color: var(--white-smoke)
}
.active::before{
    content: "📌";
}
.active{
    font-weight: bold;
}
.card > *{
    padding: .5rem;
}
.scenario{
    border: 1px solid var(--raisin-black);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 400px;
}
.scenario > p{
    padding: .5rem;
}
.color-schema-table{
    margin: 1rem auto;
    border-collapse: collapse;
    border: 1px solid var(--raisin-black);
}
.color-schema-table td, .color-schema-table th{
    border: 1px solid var(--raisin-black);
    padding: .5rem;
}
.white-smoke{
    background-color: var(--white-smoke);
}
.french-gray{
    background-color: var(--french-gray);
}
.dim-gray{
    background-color: var(--dim-gray);
    color: white;
}
.rasin-black{
    background-color: var(--raisin-black);
    color: white;
}
.gold-metallic{
    background-color: var(--gold-metallic);

}
.hunyandi-yellow{
    background-color: var(--hunyadi-yellow);
}
.arimo{
    font-family: 'Arimo', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}