:root{
    /* CSS HEX */
    --white-smoke: #F5F5F5;
    --french-gray: #bfbdc1ff;
    --dim-gray: #6d6a75ff;
    --raisin-black: #37323eff;
    --gold-metallic: #deb841ff;
    --hunyadi-yellow: #534a00;
    --link-color: #004c9c;
    --link-color-light: #90c4ff;
}