@media only screen and (min-width: 100em){
    :root{
        --font-size: 2rem;
    }
    body{
        max-width: 1300px;
    }


    /********************************** Design Principles **********************************/
    #principle-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    #principle3{
        grid-column: 3 / 4;
    }
}