:root{
    --primary: rgb(214, 201, 201);
    --secondary: rgb(55, 57, 58);
    --accent: rgb(119, 182, 234);

    --text-primary: rgb(0, 0, 0);
    --text-secondary: rgb(255, 255, 255);
    --text-accent: rgb(14, 14, 14);

    --font-size: 1.2rem;
    --font-family: 'Lato', sans-serif;
}
html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

body{
    --side-padding: 1rem;
    width: calc(100% - (2 * var(--side-padding)));
    max-width: 800px;
    background-color: var(--primary);
    color: var(--text-primary);
    padding: var(--side-padding);
}
header{
    background-color: var(--secondary);
    color: var(--text-secondary);
    padding: 1rem ;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
footer{
    margin-top: 1rem;
    background-color: var(--secondary);
    color: var(--text-secondary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}
footer > *{
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
hr{
    border: none;
    border-top: 1px solid var(--text-primary);
    margin: 1rem 0;
}


#header-photo{
    width: 160px;
    border-radius: .5rem;
}